asn1crypto==0.24.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cryptography==2.6.1
dataclasses==0.6
Django==1.11.26
django-model-utils==3.2.0
dnspython==1.16.0
entrypoints==0.3
eventlet==0.26.1
Flask==1.1.1
greenlet==0.4.16
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==18.0.1
keyrings.alt==3.1.1
lxml==4.3.5
MarkupSafe==1.1.1
monotonic==1.5
numpy==1.16.2
oauthlib==3.0.1
ply==3.11
prometheus-client==0.8.0
prometheus-flask-exporter==0.9.1
psycopg2==2.8.5
pycql==0.0.8
pycrypto==2.6.1
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.3.1
urllib3==1.25.3
Werkzeug==1.0.1
zipstream==1.1.4