<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta charset="UTF-8">
  <link rel="icon"
      type="image/x-icon"
      href="static/favicon.ico" />
  <title>EuroDataCube OGC demonstration client</title>
</head>
<body style="display: flex; flex-direction: column;">
  <header id="header" style="width: 100%; flex: 0; display:flex; justify-content: space-between; align-items: center; background-color: #004170; color:white; padding: 8px 24px;">
      <script src="static/code-de.bundle.js"></script>
      <a href="//eurodatacube.com"><img src="static/EuroDataCube_logo.svg" alt="Euro Data Cube logo" style="height:50px;"/></a>
      <h4 style="margin: 0;">Euro Data Cube OGC demonstration client powered by <b><a style="color:white;text-decoration: none;" href="//github.com/eoxc/eoxc" target="_blank">EOxC</a></b></h4>
  </header>
  <div id="app" style="position:relative; width: 100%; flex: 1; margin: 8px; padding:0;">
    <p>Default client configuration for Euro Data Cube OGC client </p>
    <ul>
      <li><a href="./">Default layers</a></li>
    </ul>
    <p> A list of instances configured for your Sentinel Hub Client ID:</p>
    <ul>
    {%- for instance in instances %}
      <li><a href="{{instance.id}}">{{instance.name}}</a></li>
    {%- endfor %}
    </ul>
  </div>
</body>
</html>