<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <table>
            <thead>
                <tr style="background-color: red;">
                    {% for cell in data_headers %}
                        <th>{{ cell }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td><span>{{ cell }}</span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <img src='data:;base64,{{ test_image }}'/>

</body>
</html>