<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Report di Snow Water Equivalent (SWE)</h1>

    <div>
        {{ mobygis_logo|safe }}
    </div>

    <div>
        {{ waterjade_logo|safe }}
    </div>

    <h3>Inquadramento</h3>
    <img src="data:;base64,{{ test_image }}" height="1000"/>

    <p style="page-break-after: always;">&nbsp;</p>

    <h3>Statistiche del bacino</h3>
    <div>
        <table>
            <thead>
                <tr style="background-color: red;">
                    {% for cell in data_headers %}
                        <th>{{ cell }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td><span>{{ cell }}</span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>